body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.eee {
  background: #eee;
}
.ddd {
  background: rgb(180, 222, 178);
}

.btn-extra {
--bs-btn-padding-y: 0.3rem; 
--bs-btn-padding-x: 2rem; 
--bs-btn-font-size: 1.5rem;
}
.btn-tiny {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
}
.ck-editor__editable_inline {
  min-height: 300px;
}